.App {
  height: 100vh;
}

.cool-gradient {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,85,1) 35%, rgba(255,0,241,1) 100%);
}

.fa-edit {
  color: blue;
}

.fa-edit:hover {
  cursor: pointer;
}

.fa-trash-alt {
  color: red;
}

.fa-trash-alt:hover {
  cursor: pointer;
}